<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find avexis1_control)/config/propeller_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/avexis1" args="joint_state_controller 	  propeller_LH1_torque_controller propeller_RH1_torque_controller	propeller_LH2_torque_controller propeller_RH3_torque_controller propeller_LH3_torque_controller propeller_RH2_torque_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
  </node>

</launch>
